@import '../../assets/styles/root';
@import '../../assets/styles/mixins';
@import '../../assets/styles/animations';

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-white;
  z-index: 9999;

  &__content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__logo-container {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    display: block;
    max-width: 50%;
    height: auto;

    animation: fade-in-up 2s ease-out forwards;
  }

}

@include mobile {
  .preloader {
    &__logo {
      .preloader--extra-small & {
        height: 30px;
      }

      .preloader--small & {
        height: 40px;
      }

      .preloader--medium & {
        height: 80px;
      }

      .preloader--large & {
        height: 120px;
      }

      .preloader--extra-large & {
        height: 160px;
      }
    }
  }
}